@import "tailwindcss";

@theme {
  --color-adminBlack: #333333;
  --color-adminSuperGray: #cecece;
  --color-adminDarkGray: #494949;
  --color-adminGray: #e0e0e0;
  --color-adminBlue: #1432FF;
  --color-adminRed: #E84B57;
  --color-adminGreen: #37cb95;
}

input {
  outline: none;
  padding: 0.2rem;
  background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 500s ease-in-out 0s;
}

@layer base {
  html {
    @apply text-adminBlack;
  }

  button:hover {
    @apply cursor-pointer
  }
}

;

@layer components {
  .softShadow {
    @apply rounded-lg py-1 px-4 transition-shadow duration-1000;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    transition: 0.04s box-shadow ease-in-out;
    background: #e0e0e0
  }

  input.softShadow:focus,
  input.softShadow:not(:placeholder-shown),
  .softShadow.active {
    @apply shadow-[inset_5px_5px_10px_#bebebe,inset_-5px_-5px_10px_#ffffff];
  }

  .neumorphicShadow {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    transition: 0.04s box-shadow ease-in-out;
    background: #e0e0e0
  }
}